@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
   font-weight: 400; 
}
a{
    font-weight: 500; 
}
span{
    font-weight: 400;
    color: #858585;
    font-size: 16px;
}
p{
    font-weight: 500;
    color: #222222;
    font-size: 14px;
    margin-bottom: 0;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top: 40px;
}
.pt-50{
    padding-top: 50px;
}
.pt-60{
    padding-top: 60px;
}
.pt-70{
    padding-top: 70px;
}
.pt-80{
    padding-top: 80px;
}
.pt-90{
    padding-top: 90px;
}
.pt-100{
    padding-top: 100px;
}
.pt-120{
    padding-top: 120px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-60{
    padding-bottom: 60px;
}
.pb-70{
    padding-bottom: 70px;
}
.pb-80{
    padding-bottom: 80px;
}
.pb-90{
    padding-bottom: 90px;
}
.pb-100{
    padding-bottom: 100px;
}
.pb-120{
    padding-bottom: 120px;
}
.mt-10{
    padding-top: 10px;
}
.mt-20{
    padding-top: 20px;
}
.mt-30{
    padding-top: 30px;
}
.mt-40{
    padding-top: 40px;
}
.mt-50{
    padding-top: 50px;
}
.mt-60{
    padding-top: 60px;
}
.mt-70{
    padding-top: 70px;
}
.mt-80{
    padding-top: 80px;
}
.mt-90{
    padding-top: 90px;
}
.mt-100{
    padding-top: 100px;
}
.mb-10{
    padding-bottom: 10px;
}
.mb-20{
    padding-bottom: 20px;
}
.mb-30{
    padding-bottom: 30px;
}
.mb-40{
    padding-bottom: 40px;
}
.mb-50{
    padding-bottom: 50px;
}
.mb-60{
    padding-bottom: 60px;
}
.mb-70{
    padding-bottom: 70px;
}
.mb-80{
    padding-bottom: 80px;
}
.mb-90{
    padding-bottom: 90px;
}
.mb-100{
    padding-bottom: 100px;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.bg-overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
/* header area start */
.header-top{
    background-color: #eaecf1;
}
.home-header-top{
    background-color: #f9f9f9;
}
.social-icon {
    margin-top: 12px;
  }
  .social-icon i {
	color: #6f6f6f;
	font-size: 12px;
	padding: 5px 5px;
	border: 1px solid #a4a5a7;
	border-radius: 50%;
}
.header-top-details{
	padding-top: 6px; 
	padding-bottom: 6px;
}
.header-top-icon {
	text-align: center;
	width: 41px;
	margin: 10px 6px 0px -2px;
}
.header-top-icon-details span {
	text-transform: capitalize;
}
.header-top-icon-details {
	padding: 0px;
	position: relative;
}
.header-top-icon-details::before {
	content: "";
	position: absolute;
	top: 23px;
	left: -25px;
	width: 29px;
	height: 1px;
	background-color: #cbcdd1;
	transform: rotate(90deg);
}
.button {
    text-align: center;
    padding: 0;
    background-color: #13316e;
}
.button a {
    display: inline-block;
    padding: 18px 0px 0px 0px;
    color: #fff;
    font-size: 13px;
}
.button a img {
    padding: 4px;
    width: 21px;
}
.logo {
	width: 100px;
	padding-top: 17px;
}
.menu ul li {
	display: inline-block;
	padding: 19px 0px 7px 28px;
}
.menu ul li a {
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: #222222;
}
.menu ul li a i {
	font-size: 10px;
	color: #6F6F6F;
}
.card_0 {
	position: relative;
}
.card_0::before {
	content: "0";
	top: 18px;
	right: -6px;
	position: absolute;
	background-color: #13316E;
	width: 10px;
	height: 11px;
	color: #fff;
	font-size: 8px;
	text-align: center;
	border-radius: 50%;
}
.card_0 img {
	width: 12px;
}
/* header area end */

/* home-banner area start */
.home-banner{
    position: relative;
    height: 100%;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    background-image: url('assets/img/banner1.png');
    animation: fade 15s infinite;
    transition: 15s;
}
@keyframes fade{
    50%{
        background-image: url('assets/img/banner2.png');
        transition: 40s;
    }
}
.home-banner::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: linear-gradient(to right,#e8e7ec,transparent,transparent,transparent);
    opacity: 1;
}
.home-banner-content {
	position: absolute;
	top: 50%;
	left: 38%;
	transform: translate(-50%,-50%);
	text-align: left;
}
.home-banner-content h1 {
	padding: 0px 252px 0px 0px;
	font-weight: 400;
	font-size: 70px;
}
.home-banner-content p {
	padding: 0px 227px 0px 0px;
	font-weight: 400;
	font-size: 20px;
}
.banner-bottom-details {
	background-color: #13316e;
	padding: 15px 0px;
}
.banner-bottom-details2 {
	background-color: #fff;
	position: absolute;
	left: 450px;
	z-index: 1;
	padding: 21px;
	border-radius: 2px 0px 0px 0px;
	top: 117%;
}
.banner-bottom-details img{
	width: 20px;
}
.banner-bottom-details2 img {
	width: 40px;
}
.banner-bottom-details span {
	font-size: 12px;
	font-weight: 400;
	color: #f9f9f9;
	padding-left: 10px;
}
.banner-bottom-details2 span {
	font-size: 20px;
	font-weight: 500;
	color: #0f2658;
	padding-left: 10px;
}
/* home-banner area end */
/* about area start */
.about-area {
	background-color: #f9f9f9;
	position: relative;
	z-index: 1;
}
.about-area::after {
	content: "";
	background-image: url('assets/img/home-about-right.png');
	position: absolute;
	width: 47%;
	height: 100%;
	top: -21px;
	background-repeat: no-repeat;
	left: 53%;
	z-index: -1;
}
.about-left span {
	font-size: 16px;
	font-weight: 400;
	color: #13316e;
}
.about-left h2 {
	font-size: 38px;
	font-weight: 400;
	padding-top: 35px;
	word-spacing: -2px;
    padding-bottom: 30px;
}
.about-right {
	padding-top: 215px;
}
.about-right p {
	font-size: 24px;
	font-weight: 400;
	text-align: justify;
	letter-spacing: -1px;
	margin-bottom: 18px;
}
.about-right span {
	word-spacing: -2px;
	line-height: 29px;
}
/* about area end */

/* book area start */
.book-button {
	padding: 29px 38px;
	border-radius: 5px;
	position: relative;
}
.book-button::before {
	content: "";
	background-image: url('assets/img/home-book-shape1.png');
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-repeat: no-repeat;
	left: 0;
	z-index: -1;
}
.book-button::after {
	content: "";
	background-image: url('assets/img/home-book-shape2.png');
	position: absolute;
	width: 28%;
	height: 100%;
	top: 0;
	background-repeat: no-repeat;
	z-index: -1;
	right: 0%;
}
.book-details p {
	color: #222222;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	margin-top: 4px;
}
.book-details2 p {
	color: #222222;
	margin-top: 4px;
}
.book-details img {
	width: 45px;
}
.book-details2 img {
	width: 45px;
}
.option-field,.date-field {
	margin-top: 8px;
}

.option-field select,.date-field input {
	width: 100%;
	height: 93%;
	border: 0;
	border-radius: 5px;
	padding: 10px;
	color: #a6a6a6;
	position: relative;
}
.date-field {
	position: relative;
}
.date-field img {
	position: absolute;
	top: 14px;
	right: 23px;
	color: #a6a6a6;
	width: 15px;
}
.button4 {
	text-align: center;
	padding: 0;
	background-color: #13316e;
	display: inline-block;
	border-radius: 2px;
	margin-top: 10px;
}
.button4 a {
	display: inline-block;
	padding: 8px 43px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}
/* book area end */

/* service area start */
.services{
	background-color: #f9f9f9;
	position: relative;
	z-index: 1;
}
.services::after {
	content: "";
	background-image: url('assets/img/home-service-shape.png');
	position: absolute;
	width: 100%;
	height: 100%;
	top: 140px;
	background-repeat: no-repeat;
	z-index: -1;
	left: -63px;
}
.services-header span {
	font-size: 16px;
	font-weight: 400;
	color: #13316e;
}
.services-header h2{
    font-size: 38px;
	font-weight: 400;
	padding-top: 30px;
	word-spacing: -2px;
    padding-bottom: 30px;
    padding-right: 65px;
}
.single-service1,.single-service2,.single-service3,.single-service4{
    position: relative;
    padding: 40px 15px;
    box-shadow: 1px 1px 6px 0px #ccc;
    background-color: #fff;
}
.single-service1::before {
	content: "";
	position: absolute;
	top: 29px;
	left: 90px;
	background-color: #fdeee7;
	width: 80px;
	height: 77px;
	border-radius: 50%;
}
.single-service2::before {
	content: "";
	position: absolute;
	top: 29px;
	left: 90px;
	background-color: #e9f6eb;
	width: 80px;
	height: 77px;
	border-radius: 50%;
}
.single-service3::before {
	content: "";
	position: absolute;
	top: 29px;
	left: 90px;
	background-color: #fbe8f1;
	width: 80px;
	height: 77px;
	border-radius: 50%;
}
.single-service4::before {
	content: "";
	position: absolute;
	top: 29px;
	left: 90px;
	background-color: #eaecf1;
	width: 80px;
	height: 77px;
	border-radius: 50%;
}
.single-service1  img {
	width: 60px;
	padding-bottom: 20px;
    position: relative;
}
.single-service2  img,.single-service3  img,.single-service4  img {
	width: 47px;
	padding-bottom: 20px;
    position: relative;
}

.single-service1 p,.single-service2  p,.single-service3  p,.single-service4  p{
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 20px;
}
/* service area start */

/* testimonial area start */
.testimonial-area{
    position: relative;
	background-color: #f9f9f9;
}
.single-testimonial-left {
	text-align: center;
	padding-top: 67px;
	z-index: 1;
	position: relative;
}
.single-testimonial-left::after {
	content: "";
	background-image: url('assets/img/home-testimonial-shape1.png');
	position: absolute;
	width: 99%;
	height: 100%;
	top: 64px;
	background-repeat: no-repeat;
	z-index: -1;
	left: 25px;
}
.single-testimonial-left img {
	width: 228px !important;
	display: inline-block !important;
}
.single-testimonial-right-img1 img {
	width: 50px !important;
    display: inline-block !important;
}
.pd-left img {
	width: 145px !important;
	margin-left: 15px;
	padding-top: 6px;
}
.single-testimonial-right p {
	font-size: 30px;
	font-weight: 400;
	padding: 21px;
}
.single-testimonial-right span {
	font-size: 20px;
	font-weight: 500;
	display: block;
	margin-left: 15px;
	color: #222222;
}  
.testimonials .owl-dots {
	position: absolute;
	left: 50%;
	top: 115%;
	transform: translate(-50%,-50%);
}
.testimonials .owl-dots button {
    height: 10px;
    width: 10px;
    background-color: #c6cfe1 !important;
    margin: 0px 5px;
    border-radius: 50%;
}
.testimonials .owl-dots button.active{
	background-color: #94a5c6 !important;
}
/* testimonial area end */

/* specialist area start */
.line-area{
	border: 1px solid #d7d7d7;
}
.specialist-area, .news-area{
    position: relative;
	background-color: #f9f9f9;
}
.specialist-header span {
	font-size: 16px;
	font-weight: 400;
	color: #13316e;
}
.specialist-header h2{
    font-size: 38px;
	font-weight: 400;
	padding-top: 30px;
	word-spacing: -2px;
    padding-bottom: 30px;
    padding-right: 65px;
}
.specialists-detals{
	background-color: #eaecf1;
	padding: 18px;
}
.specialists-detals span{
	font-size: 16px;
	font-weight: 400;
}
.specialists-detals p{
	font-size: 20px;
	font-weight: 400;
}
.specialists.owl-prev {
	position: absolute;
	
}
.specialists.owl-next {
	position: absolute;
	
}
.specialists.owl-prev i ,.specialists.owl-next i{
	padding: 10px;
    font-size: 35px;
	color: red;
}
/* specialist area end */

/* project area start */
.project{
	background: linear-gradient(#f2f3f5,#f2f3f5,#f5f5f7,#f9f9f9,#f9f9f9);
}
.single-project {
	position: relative;
}
.single-project-content {
	position: absolute;
	top: 78%;
	left: 3%;
	background-color: #fff;
	padding: 23px;
	width: 95%;
	opacity: 0.9;
}
.single-project-content p{
	font-size: 20px;
	font-weight: 500;
}
/* project area end */

/* sponsor area start */
.sopnsor-area{
	position: relative;
	z-index: 1;
	background-color: #f9f9f9;
}
.sopnsor-area::after {
	content: "";
	background-image: url('assets/img/home-about-right.png');
	position: absolute;
	width: 29%;
	height: 583%;
	top: -276px;
	background-repeat: no-repeat;
	left: 71%;
	z-index: -1;
}
.sponsor{
	padding: 25px;
	background-color: #fff;
}
.single-sponsor img {
	padding: 14px !important;
}
.sponsor.owl-prev {
	position: absolute;
	
}
.sponsor.owl-next {
	position: absolute;
	
}
.sponsor.owl-prev i ,.sponsor.owl-next i{
	padding: 10px;
    font-size: 35px;
	color: red;
}
/* sponsor area end */

/* home-blog area start */
.home-blog-details-content {
	padding: 14px;
	position: relative;
}
.home-blog-details-content::before {
	position: absolute;
	top: -28px;
	right: 29px;
	background-color: #13316e;
	width: 15%;
	height: 27%;
	content: "25";
	color: #fff;
	text-align: center;
	font-size: 20px;
}
.home-blog-details-content::after {
	position: absolute;
	top: 2px;
	right: 43px;
	content: "Aug";
	color: #fff;
	font-size: 14px;
}
.home-blog-details-content span {
	font-size: 14px;
	font-weight: 400;
	color: #13316e;
	position: relative;
}
.home-blog-details-content p {
	font-size: 20px;
	font-weight: 500;
	padding-top: 18px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eaecf1;
	position: relative;
}
.home-blog-details-content p::before {
	position: absolute;
	top: -38px;
	right: 26px;
	width: 9%;
	height: 1%;
	background-color: #4e638e;
	content: "";
}
.blog-bottom {
	padding-top: 20px;
  }
.blog-bottom span{
	color: #7a7a7a;
}
.blog-bottom a {
	color: #858585;
	float: right;
	font-size: 16px;
	font-weight: 300;
}
.blog-bottom a i {
	margin-left: 12px;
}
/* home-blog area end */

/* contact-banner,blog-banner area start */
.banner{
    position: relative;
    z-index: 1;
    background-color: #eaecf1;
}
.banner:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/img/contact-back.png');
    z-index: -1;
    background-position: center;
    background-size: cover;
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
/* contact-banner,blog-banner area end */



/*blog page */
.blog-pd {
	padding: 5px 32px;
}
.span-clr span{
	color: #13316e;
	font-size: 14px;
	font-weight: 400;
	padding-top: 15px;
	padding-bottom: 6px;
}
.blog-details h2 {
	font-size: 38px;
	padding-top: 12px;
	font-weight: 400;
	letter-spacing: -1px;
}
.blog-details span {
	padding-right: 48px;
	line-height: 32px;
}
.blog-pd-img img {
	width: 55px;
	padding: 45px 0px;
}
.span-clr h2 {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	word-spacing: 0px;
	letter-spacing: 0px;
}
.img-pd {
	padding: 32px;
}
.box-shadow {
	box-shadow: 0px 1px 12px -3px #ccc;
}
.post {
	background-color: #eaecf1;
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 5px 33px;
}
.post span {
	font-size: 20px;
	padding-right: 20px;
}
.post i{
	color: #666666;
}
.pd-0{
	padding: 0;
}
.form{
	position: relative;
}
.form .button2{
	margin-top: 20px;
}
.form::before{
	content: "";
	position: absolute;
	top: -72px;
	left: 108px;
	width: 1px;
	height: 215px;
	background-color: #13316e;
	transform: rotate(90deg);
}
.form h4,.category h4,.tag h4,.gallery h4 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 30px;
}
.checkbox input {
	margin-top: 17px;
	margin-left: -11px;
}
.checkbox span {
	margin-left: -28px;
}
.search-input, .category, .tag, .gallery {
	box-shadow: 0px 1px 12px -3px #ccc;
	padding: 20px;
	position: relative;
	margin-bottom: 20px;
}
.search-input input {
	width: 85%;
	padding: 10px;
	color: #c2c2c2;
	border: 1px solid #d9d9d9;
}
.search-input::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 286px;
    width: 52px;
    height: 46px;
    background-color: #13316e;
}
.search-input i {
	position: absolute;
	color: #fff;
	padding-top: 15px;
	padding-left: 15px;
	font-size: 16px;
}
.category h4::before,.tag h4::before,.gallery h4::before {
	content: "";
	position: absolute;
	top: -42px;
	left: 119px;
	width: 1px;
	height: 194px;
	background-color: #13316e;
	transform: rotate(90deg);
}
.category ul li {
	padding-top: 10px;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 10px;
  }
.category ul li:last-child{
	border-bottom: 0;
}
.category ul li a {
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: #707070;
	transition: .3s;
}
.category ul li a:hover{
	color: #13316e;
	transform: translateX(10px);
}
.tag a {
	display: inline-block;
	border: 1px solid #e7e7e7;
	padding: 5px 8px;
	margin-bottom: 13px;
	margin-right: 5px;
	font-size: 14px;
	font-weight: 400;
	color: #707070;
	transition: .7s;
}
.tag a:hover{
	background-color: #13316e;
	color: #fff;
}
/*blog page */



/*contact page */
.contact-area h4 {
	color: #222222;
	font-size: 24px;
	padding-bottom: 10px;
}
.contact-form span {
	display: block;
	padding-bottom: 5px;
    padding-top: 8px;
}
.contact-form input {
	width: 100%;
	padding: 6px;
	border: 1px solid #d9d9d9;
}
.contact-form textarea {
	width: 100%;
	padding: 40px;
	border: 1px solid #d9d9d9;
}
.button2 {
	text-align: center;
	padding: 0;
	background-color: #13316e;
	display: inline-block;
	border-radius: 2px;
	margin-top: 42px;
}
.button2 a {
	display: inline-block;
	padding: 8px 45px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}
.button3 {
	text-align: center;
	padding: 0;
	background-color: #13316e;
	display: inline-block;
	border-radius: 2px;
	margin-top: 130px;
}
.button3 a {
	display: inline-block;
	padding: 8px 45px;
	color: #fff;
	font-size: 13px;
}
.contact-right p {
	padding: 17px 67px 17px 35px;
	background-color: #13316E;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
}
.contact-details {
	padding: 10px 34px;
}
.address span {
	display: inline-flex;
	padding: 8px 0px 6px 0px;
}
.address span img {
	width: 20px;
	height: 20px;
	margin-right: 18px;
	margin-top: 1px;
}
.highlight {
	color: #383838;
	font-weight: 500;
    margin-right: 2px;
}
.time-schedule ul li {
	border-bottom: 1px solid #D5D5D5;
}
.time-schedule span {
	display: inline-flex;
	padding-bottom: 5px;
	padding-top: 5px;
}
.time-schedule ul li:last-child{
    border-bottom: 0;
}
/* contact area end */

/* footer area start */
.footer,.footer-bottom{
    background-color: #eaecf1;
}
.home-footer,.home-footer-bottom{
	background-color: #fff;
}
.logo2 {
	width: 100px;
	padding-bottom: 20px;
}
.departments h6 {
	padding-bottom: 13px;
	position: relative;
    font-size: 20px;
}
.departments h6::before, .contact-us h6::before {
	content: "";
	position: absolute;
	top: -9px;
	left: 39px;
	width: 1px;
	height: 76px;
	background-color: #a2aec5;
	transform: rotate(90deg);
}
.contact-us h6 {
	padding-bottom: 11px;
    position: relative;
}
.about {
	text-align: justify;
	padding: 0px 19px 0px 0px;
	line-height: 23px;
	letter-spacing: -1px;
}
.about-address {
	margin-top: 8px;
	text-align: left;
}
.about-address span{
    display: inline-flex;
}
.departments ul li {
	padding-bottom: 9px;
}
.contact-us span{
	margin-bottom: 8px;
}
.contact-us span {
	padding: 0px 2px 0px 0px;
}
.contact-number span {
    display: inline-flex;
  }
.time-schedule2 {
    margin-top: -12px;
  }
.time-schedule2 span {
	display: inline-flex;
}
.footer-bottom {
	border-top: 1px solid #bfc7d7;
}
.home-footer-bottom {
	border-top: 1px solid #bfc7d7;
}
/* footer area end */