/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container{
        width: 970px;
    }
    .header-top-icon {
        text-align: center;
        width: 42px;
        margin: 10px 6px 0px -3px;
    }
    .home-banner-content {
        left: 50% !important;
        text-align: left !important;
    }
    .home-banner-content h1 {
        padding: 0px !important;
        font-size: 43px !important;
        text-align: center !important;
    }
    .home-banner-content p {
        padding: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
    }
    .about-right span {
        margin: -8px !important;
    }
    .button2 {
        display: inline-block !important;
        margin-top: 42px !important;
        position: relative !important;
        left: 50% !important;
        transform: translate(-50%) !important;
    }
    .banner-bottom-details2 {
        left: 400px !important;
        top: 126% !important;
    }
    .book-details p {
        font-size: 28px !important;
        margin-top: 15px !important;
    }
    .book-button::after {
        right: 0% !important;
    }
    .button4 a {
        padding: 8px 29px !important;
        font-size: 15px !important;
    }
    .single-service1::before,.single-service2::before,.single-service3::before,.single-service4::before {
        top: 23px !important;
        left: 66px !important;
    }
    .single-testimonial-left::after {
        width: 100% !important;
        left: 11px !important;
    }
    .single-testimonial-left img {
        width: 220px !important;
    }
    .single-testimonial-right p {
        font-size: 24px !important;
        padding: 28px !important;
    }
    .services-header h2 {
        padding-right: 0px !important; 
    }
    .single-project-content p {
        font-size: 16px !important;
    }
    .specialist-header h2 {
        padding-right: 0px !important; 
    }
    .home-blog-details-content::before {
        top: -25px !important;
        right: 21px !important;
        width: 15% !important;
        height: 26% !important;
        content: "25" !important;
        font-size: 18px !important;
    }
    .home-blog-details-content::after {
        right: 31px !important;
        content: "Aug" !important;
        font-size: 14px !important;
    }
    .home-blog-details-content p::before {
        right: 17px !important;
    }
    .email-details span {
        font-size: 15px !important;
    }
    .departments h6,.links h6 {
        padding-bottom: 13px !important;
        position: relative !important;
        font-size: 18px !important;
    }
    .home-footer span,.footer span {
        font-size: 13px !important;
    }
    .departments ul li,.links ul li {
        padding-bottom: 6px !important;
    }
    .time{
        text-align: left !important;
    }
    .address ul li  span {
        font-size: 13px !important;
    }
    .time-schedule ul li span{
        font-size: 13px !important;
    }
    .sponsor .owl-next {
        right: -16px !important;
    }
    .sponsor .owl-prev {
        left: -16px !important;
    }
    .search-input::before {
        left: 233px !important;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container{
        width: 750px;
    }
    .header-top-icon {
        text-align: center !important;
        width: 42px !important;
        margin: 10px 6px 0px -3px !important;
    }
    .menu ul li a {
        font-size: 14px !important;
       
    }
    .home-banner-content {
        left: 50% !important;
        text-align: left !important;
    }
    .home-banner-content h1 {
        padding: 0px !important;
        font-size: 43px !important;
        text-align: center !important;
    }
    .home-banner-content p {
        padding: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
    }
    .banner-bottom-details.margin-top span {
        font-size: 15px !important;
    }
    .banner-bottom-details.margin-top img {
        width: 28px !important;
    }
    .button2 {
        display: block !important;
        text-align: center !important;
    }
    .about-left h2 {
        font-size: 28px  !important;
    }
    .about-right {
        padding-top: 155px  !important;
    }
    .contact-right p {
        padding: 17px 67px 17px 18px !important;
    }
    .about-right p {
        font-size: 21px  !important;
    }
    .about-right span {
        word-spacing: 0px  !important;
    }
    .date-field img {
        right: 67px !important;
    }
    .button2 {
        margin-top: 22px  !important;
    }
    .button2 a {
        font-size: 14px  !important;
    }
    .button4 {
        margin-top: 30px !important;
        left: 50%;
        position: relative;
        transform: translate(-50%);
    }
    .services-header h2 {
        font-size: 30px !important;
        word-spacing: 4px !important;
        padding-right: 0px !important;
    }
    .single-service1, .single-service2{
        margin-bottom: 30px;
    }
    .single-service1::before,.single-service2::before,.single-service3::before,.single-service4::before {
        top: 24px !important;
        left: 127px !important;
    }
    .testimonial-area{
        text-align: center !important;
    }
    .single-testimonial-left::after {
        left: 197px !important;
    }
    .single-testimonial-right-img1 img {
        margin-top: 85px !important;
    }
    .single-testimonial-right p {
        font-size: 24px !important;
    }
    .single-testimonial-left::after {
        left: 194px !important;
    }
    .pd-left img {
        width: 145px !important;
        margin-left: 15px !important;
        position: relative !important;
        left: 50% !important;
        transform: translate(-50%) !important;
    }
    .single-project-content {
        padding: 14px !important;
        width: 93% !important;
        opacity: 0.9 !important;
    }
    .single-project-content p {
        font-size: 11px !important;
    }
    .home-blog-details-content::before {
        top: -22px !important;
        right: 14px !important;
        width: 17% !important;
        height: 20% !important;
        content: "25" !important;
        font-size: 16px !important;
    }
    .home-blog-details-content p::before {
        top: -36px !important;
        right: 10px !important;
        width: 9% !important;
        height: 1% !important;
    }
    .home-blog-details-content::after {
        top: 5px !important;
        right: 22px !important;
        font-size: 12px !important;
    }
    .home-blog-details-content p {
        font-size: 17px !important;
    }
    .blog-bottom span {
        position: relative !important;
        left: 20% !important;
        transform: translate(-20%) !important;
    }
    .blog-bottom a {
        font-size: 14px !important;
        left: -15% !important;
        transform: translate(-20%);
        position: relative !important;
    }
    .book-button::after {
        right: 0% !important;
    }
    .book-details2 img {
        width: 45px !important;
        float: right !important;
    }
    .sponsor .owl-prev {
        left: -14px !important;
    }
    .sponsor .owl-next {
        right: -14px !important;
    }
    .date-field input {
        width: 75% !important;
        position: relative !important;
        left: 49% !important;
        transform: translate(-50%) !important;
    }
    .about span {
        font-size: 14px !important;
    }
    .links span,.contact-us span {
        font-size: 14px !important;
    }
    .departments ul li, .links ul li {
        padding-bottom: 4px !important;
    }
    .departments h6 {
        position: relative !important;
        transform: translate(-50%) !important;
        left: 50% !important;
    }
    .time{
        text-align: left !important;
    }
    .address ul li  span {
        font-size: 13px !important;
    }
    .time-schedule ul li span{
        font-size: 13px !important;
    }
    .search-input::before {
        left: 574px !important;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .container-fluid{
        width: 320;
    }
    .social-icon {
        text-align: center !important;
    }
    .header-top-icon {
        visibility: hidden !important;
    }
    .header-top-icon-details {
        text-align: center !important;
        margin-top: -35px !important;
    }
    .header-top-icon-details::before {
        visibility: hidden !important;
    }
    .button a {
        padding: 18px 0px 18px 0px !important;
    }
    .logo {
        width: 100% !important;
        padding-top: 17px !important;
        text-align: center !important;
    }
    .menu ul {
        text-align: center !important;
    }
    .menu ul li {
        display: inline-block !important;
        padding: 19px 0px 19px 18px !important;
    }
    .home-banner-content {
        left: 50% !important;
        text-align: left !important;
    }
    .home-banner-content h1 {
        padding: 0px !important;
        font-size: 18px !important;
        text-align: center !important;
        font-weight: 500 !important;
    }
    .home-banner-content p {
        padding: 0 !important;
        font-size: 10px !important;
        text-align: center !important;
    }
    .banner-bottom-details {
        padding: 27px 0px !important;
    }
    .about-area{
        text-align: center !important;
    }
    .about-left h2 ,.specialist-header h2 {
        font-size: 20px !important;
    }
    .about-right p {
        font-size: 19px !important;
    }
    .about-right span {
        font-size: 12px !important;
    }
    .book-button::before {
        left: 16px !important;
        width: 90% !important;
    }
    .book-details p {
        font-size: 22px !important;
        margin-top: -15px !important;
    }
    .option-field select {
        padding: 8px !important;
        width: 95% !important;
    }
    .date-field input {
        width: 96% !important;
        position: relative !important;
    }
    .date-field img {
        visibility: hidden !important;
    }
    .book-button::after {
        width: 58% !important;
        right: 5% !important;
    }
    .button2 {
        display: block !important;
        text-align: center !important;
    }
    .services-header h2 {
        font-size: 20px !important;
    }
    .button4 {
        margin-top: 30px !important;
        left: 50%;
        position: relative;
        transform: translate(-50%);
    }
    .services-header {
        text-align: center !important;
    }
    .services-header h2 {
        padding-right: 0px !important;
    }
    .button3 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        display: block !important;
    }
    .button3 a {
        font-size: 16px!important;
    }
    .banner-bottom-details.margin-top span {
        font-size: 16px !important;
    }
    .single-service1::before, .single-service2::before, .single-service3::before, .single-service4::before {
       visibility: hidden !important;
    }
    .single-service1, .single-service2, .single-service3, .single-service4 {
        margin-bottom: 35px !important;
    }
    .services::after {
        left: 0px !important;
    }
    .testimonial-area{
        text-align: center !important;
    }
    .single-testimonial-left::after {
        visibility: hidden !important;
    }
    .single-testimonial-right-img1 img {
        margin-top: 85px !important;
    }
    .single-testimonial-right p {
        font-size: 17px !important;
    }
    .single-testimonial-right span {
        margin-left: 0px !important; 
    }
    .pd-left img {
        width: 145px !important;
        margin-left: 15px !important;
        position: relative !important;
        left: 48% !important;
        transform: translate(-50%) !important;
    }
    .specialist-header {
        text-align: center !important;
    }
    .specialist-header h2 {
        padding-right: 0px !important;
    }
    .specialists .owl-prev i, .specialists .owl-next i {
        padding: 5px !important;
        font-size: 9px !important;
    }
    .specialists .owl-prev {
        top: -32px !important;
    }
    .specialists .owl-next {
        top: -32px !important;
    }
    .sponsor .owl-prev i, .sponsor .owl-next i {
        padding: 5px !important;
        font-size: 10px !important;
    }
    .sponsor .owl-prev,.sponsor .owl-next {
        top: 33% !important;
    }
    .single-project {
        text-align: center !important;
        margin-bottom: 30px !important;
    }
    .single-project-content p {
        font-size: 16px !important;
    }
    .single-project-content {
        left: 15% !important;
        padding: 16px !important;
        width: 70% !important;
    }
    .home-blog-details {
        text-align: center !important;
        margin-bottom: 15px !important;
    }
    .home-blog-details-content::before {
       visibility: hidden !important;
    }
    .home-blog-details-content p::before {
        visibility: hidden !important;
    }
    .home-blog-details-content::after {
       visibility: hidden !important;
    }
    .blog-bottom a {
        font-size: 11px !important;
    }
    .home-blog-details-content p {
        font-size: 15px !important;
    }
    .home-blog-details-content span {
        font-size: 12px !important;
    }
    .banner-bottom-details.margin-top img {
        width: 25px !important;
    }
    .sponsor .owl-prev {
        left: 4px !important;
    }
    .sponsor .owl-next {
        right: 4px !important;
    }
    .email-details span {
        font-size: 14px !important;
    }
    .book-details2 img {
       visibility: hidden !important;
    }
    .book-details2 p {
        margin-top: -49px !important;
    }
    .home-footer, .home-footer-bottom {
        text-align: center !important;
        font-size: 15px !important;
    }
    .about {
        text-align: center !important;
        padding: 0px 50px 0px 50px !important;
    }
    .about-address {
        text-align: center !important; 
    }
    .logo2 {
        width: 130px !important;
        padding-bottom: 30px !important;
        position: relative !important;
        left: 50% !important;
        transform: translate(-50%) !important;
    }
    .about-address span {
        padding-bottom: 15px !important;
    }
    .contact-us {
        padding: 0px 50px 0px 50px !important;
        left: 50% !important;
        position: relative !important;
        transform: translate(-50%) !important;
    }
    .departments h6::before, .contact-us h6::before, .links h6::before {
        visibility: hidden !important;
    }
    .address ul li  span {
        font-size: 13px !important;
    }
    .time-schedule ul li span{
        font-size: 13px !important;
    }
    .blog-details span {
        padding-right: 0px !important;
    }
    .search-input::before {
        visibility: hidden !important;
    }
    .checkbox span {
        margin-left: 29px !important;
        text-align: center !important;
    }
    .span-clr h2 {
        font-size: 15px !important;
    }
    .blog-pd-img img {
        width: 40px !important;
        padding: 15px 0px !important;
    }
    .blog-details h2 {
        font-size: 15px !important;
        padding-top: 0 !important;
    }
    .blog-pd-img{
        text-align: center !important;
    }
    .img-pd {
        text-align: center !important;
    }
    .pd-bottom {
        padding-bottom: 30px;
    }
    .blog-details {
        padding: 25px !important;
    }
    .search-input::before {
        visibility: hidden !important;
    }
    .search-input input {
        width: 100% !important;
    }
    .form {
        padding: 30px !important;
    }
    .form::before {
        top: -34px !important;
        left: 135px !important;
    }
    .category ul li a {
        font-size: 14px !important;
    }
    .home-footer span,.footer span {
        font-size: 13px !important;
    }
    .gallery-img {
        text-align: center;
        margin-bottom: 25px;
    }
    .day,.time {
        text-align: center !important;
    }
    .contact-us span {
        margin-bottom: 5px !important;
    }
    .time-schedule2 {
        margin-top: 0px !important;
    }
    .post span {
        font-size: 12px !important;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container-fluid{
        width: 450;
    }
    .social-icon {
        text-align: center !important;
    }
    .header-top-icon {
        visibility: hidden !important;
    }
    .header-top-icon-details {
        margin-top: -35px !important;
    }
    .header-top-icon-details::before {
        visibility: hidden !important;
    }
    .button a {
        padding: 18px 0px 18px 0px !important;
    }
    .logo {
        width: 100% !important;
        padding-top: 17px !important;
        text-align: center !important;
    }
    .menu ul {
        text-align: center !important;
    }
    .menu ul li {
        display: inline-block !important;
        padding: 19px 0px 19px 18px !important;
    }
    .menu ul li a {
        font-size: 12px !important;
    }
    .home-banner{
        background-position: center !important;
        background-size: cover !important;
    }
    .home-banner-content {
        left: 50% !important;
        text-align: left !important;
    }
    .home-banner-content h1 {
        padding: 0px !important;
        font-size: 43px !important;
        text-align: center !important;
    }
    .home-banner-content p {
        padding: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
    }
    .banner-bottom-details {
        padding: 27px 0px !important;
    }
    .about-area{
        text-align: center !important;
    }
    .single-service1::before, .single-service2::before, .single-service3::before, .single-service4::before {
       visibility: hidden !important;
    }
    .services::after {
        left: 0px !important;
    }
    .about-left h2 {
        font-size: 27px !important;
    }
    .button2 {
        display: block !important;
        text-align: center !important;
    }
    .button4 {
        margin-top: 30px !important;
        left: 50%;
        position: relative;
        transform: translate(-50%);
    }
    .testimonial-area{
        text-align: center !important;
    }
    .single-testimonial-left::after {
        visibility: hidden !important;
    }
    .single-testimonial-left img {
        width: 220px !important;
    }
    .single-testimonial-right-img1 img {
        margin-top: 85px !important;
    }
    .single-testimonial-right p {
        font-size: 17px !important;
    }
    .single-testimonial-right span {
        margin-left: 0px !important; 
    }
    .pd-left img {
        width: 145px !important;
        margin-left: 15px !important;
        position: relative !important;
        left: 48% !important;
        transform: translate(-50%) !important;
    }
    .specialist-header {
        text-align: center !important;
    }
    .specialist-header h2 {
        padding-right: 0px !important;
    }
    .specialists .owl-prev i, .specialists .owl-next i {
        padding: 5px !important;
        font-size: 9px !important;
    }
    .specialists .owl-prev {
        top: -32px !important;
    }
    .specialists .owl-next {
        top: -32px !important;
    }
    .sponsor .owl-prev i, .sponsor .owl-next i {
        padding: 5px !important;
        font-size: 10px !important;
    }
    .sponsor .owl-prev,.sponsor .owl-next {
        top: 33% !important;
    }
    .single-project {
        text-align: center !important;
        margin-bottom: 30px !important;
    }
    .single-project-content p {
        font-size: 16px !important;
    }
    .single-project-content {
        left: 15% !important;
        padding: 16px !important;
        width: 70% !important;
    }
    .banner-bottom-details.margin-top span {
        font-size: 15px !important;
    }
    .banner-bottom-details.margin-top img {
        width: 25px !important;
    }
    .home-blog-details {
        text-align: center !important;
        margin-bottom: 15px !important;
    }
    .home-blog-details-content::before {
        visibility: hidden !important;
     }
     .home-blog-details-content p::before {
         visibility: hidden !important;
     }
     .home-blog-details-content::after {
        visibility: hidden !important;
     }
    .blog-bottom a {
        font-size: 14px !important;
        font-weight: 300 !important;
        position:  relative!important;
        left: -36% !important;
        transform: translate(-20%);

    }
    .book-details2 img {
        visibility: hidden !important;
     }
    .book-details2 p {
        margin-top: 0px; 
    }
    .book-details2 p {
        margin-top: -49px !important;
    }
    .address ul li  span {
        font-size: 13px !important;
    }
    .time-schedule ul li span{
        font-size: 13px !important;
    }
    .blog-details span {
        padding-right: 41px !important;
    }
    .span-clr h2 {
        font-size: 15px !important;
    }
    .blog-pd-img img {
        width: 40px !important;
        padding: 15px 0px !important;
    }
    .blog-details span {
        font-size: 12px !important;
        line-height: 23px !important;
    }
    .blog-details h2 {
        font-size: 15px !important;
        padding-top: 0 !important;
    }
    .blog-pd-img{
        text-align: center !important;
    }
    .img-pd {
        text-align: center !important;
    }
    .pd-bottom {
        padding-bottom: 30px;
    }
    .blog-details {
        padding: 25px !important;
    }
    .form {
        padding: 30px !important;
    }
    .form::before {
        top: -34px !important;
        left: 135px !important;
    }
    .form h4, .category h4, .tag h4, .gallery h4 {
        font-size: 20px !important;
    }
    .menu ul {
        text-align: center !important;
    }
    .checkbox input {
        margin-top: 14px !important;
        margin-left: 7px !important;
    }
    .checkbox span {
        text-align: center !important;
    }
    .search-input input {
        width: 100% !important;
    }
    .search-input::before {
        visibility: hidden !important;
    }
    .category ul li a {
        font-size: 14px !important;
    }
    .gallery-img {
        text-align: center;
        margin-bottom: 25px;
    }
    .day,.time {
        text-align: center !important;
    }
    .contact-us span {
        margin-bottom: 5px !important;
    }
    .time-schedule2 {
        margin-top: 0px !important;
    }
    .departments h6::before, .contact-us h6::before, .links h6::before {
        visibility: hidden !important;
    }
    .post span {
        font-size: 12px !important;
    }
}
