/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container{
        width: 970px;
    }
    .header-top-icon {
        text-align: center;
        width: 42px;
        margin: 10px 6px 0px -3px;
    }
    .home-banner-content {
        left: 50% !important;
        text-align: left !important;
    }
    .home-banner-content h1 {
        padding: 0px !important;
        font-size: 43px !important;
        text-align: center !important;
    }
    .home-banner-content p {
        padding: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
    }
    .button2 {
        display: block !important;
        text-align: center !important;
    }
    .banner-bottom-details2 {
        left: 400px !important;
    }
    .book-details p {
        font-size: 28px !important;
        margin-top: 15px !important;
    }
    .button4 a {
        padding: 8px 29px !important;
        font-size: 15px !important;
    }
    .single-testimonial-left::after {
        width: 100% !important;
        left: 11px !important;
    }
    .single-testimonial-left img {
        width: 220px !important;
    }
    .single-testimonial-right p {
        font-size: 24px !important;
        padding: 28px !important;
    }
    .services-header h2 {
        padding-right: 0px !important; 
    }
    .single-project-content p {
        font-size: 16px !important;
    }
    .specialist-header h2 {
        padding-right: 0px !important; 
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container{
        width: 750px;
    }
    .header-top-icon {
        text-align: center;
        width: 42px;
        margin: 10px 6px 0px -3px;
    }
    .home-banner-content {
        left: 50% !important;
        text-align: left !important;
    }
    .home-banner-content h1 {
        padding: 0px !important;
        font-size: 43px !important;
        text-align: center !important;
    }
    .home-banner-content p {
        padding: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
    }
    .button2 {
        display: block !important;
        text-align: center !important;
    }
    .about-left h2 {
        font-size: 28px  !important;
    }
    .about-right {
        padding-top: 155px  !important;
    }
    .about-right p {
        font-size: 21px  !important;
    }
    .about-right span {
        word-spacing: 0px  !important;
    }
    .button2 {
        margin-top: 22px  !important;
    }
    .button2 a {
        font-size: 14px  !important;
    }
    .button4 {
        margin-top: 30px !important;
        left: 50%;
        position: relative;
        transform: translate(-50%);
    }
    .services-header h2 {
        font-size: 30px !important;
        word-spacing: 4px !important;
        padding-right: 0px !important;
    }
    .single-service1, .single-service2{
        margin-bottom: 30px;
    }
    .single-service1::before,.single-service2::before,.single-service3::before,.single-service4::before {
        top: 24px !important;
        left: 127px !important;
    }
    .testimonial-area{
        text-align: center !important;
    }
    .single-testimonial-left::after {
        left: 197px !important;
    }
    .single-testimonial-left img {
        width: 220px !important;
    }
    .single-testimonial-right-img1 img {
        margin-top: 85px !important;
    }
    .single-testimonial-right p {
        font-size: 24px !important;
    }
    .pd-left img {
        width: 145px !important;
        margin-left: 15px !important;
        position: relative !important;
        left: 50% !important;
        transform: translate(-50%) !important;
    }
    .single-project-content {
        padding: 14px !important;
        width: 93% !important;
        opacity: 0.9 !important;
    }
    .single-project-content p {
        font-size: 11px !important;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .container-fluid{
        width: 320;
    }
    .social-icon {
        text-align: center;
    }
    .header-top-details {
        padding-top: 19px !important;
        padding-bottom: 19px !important;
        text-align: center !important;
    }
    .header-top-icon-details::before {
        left: -9px !important;
    }
    .button a {
        padding: 18px 0px 18px 0px !important;
    }
    .logo {
        width: 100% !important;
        padding-top: 17px !important;
        text-align: center !important;
    }
    .menu ul li {
        display: inline-block !important;
        padding: 19px 0px 7px 21px !important;
    }
    .home-banner-content {
        left: 50% !important;
        text-align: left !important;
    }
    .home-banner-content h1 {
        padding: 0px !important;
        font-size: 43px !important;
        text-align: center !important;
    }
    .home-banner-content p {
        padding: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
    }
    .about-area{
        text-align: center;
    }
    .button2 {
        display: block !important;
        text-align: center !important;
    }
    .button4 {
        margin-top: 30px !important;
        left: 50%;
        position: relative;
        transform: translate(-50%);
    }
    .services-header {
        text-align: center !important;
    }
    .services-header h2 {
        padding-right: 0px !important;
    }
    .button3 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        display: block !important;
    }
    .button3 a {
        font-size: 16px!important;
    }
    .single-service1::before,.single-service2::before,.single-service3::before,.single-service4::before {
        top: 23px !important;
        left: 216px !important;
    }
    .single-service1, .single-service2, .single-service3, .single-service4 {
        margin-bottom: 35px !important;
    }
    .testimonial-area{
        text-align: center !important;
    }
    .single-testimonial-left::after {
        left: 110px !important;
    }
    .single-testimonial-left img {
        width: 220px !important;
    }
    .single-testimonial-right-img1 img {
        margin-top: 85px !important;
    }
    .single-testimonial-right p {
        font-size: 17px !important;
    }
    .pd-left img {
        width: 145px !important;
        margin-left: 15px !important;
        position: relative !important;
        left: 50% !important;
        transform: translate(-50%) !important;
    }
    .specialist-header {
        text-align: center !important;
    }
    .specialist-header h2 {
        padding-right: 0px !important;
    }
    .single-project {
        text-align: center !important;
        margin-bottom: 30px !important;
    }
    .single-project-content p {
        font-size: 16px !important;
    }
    .single-project-content {
        left: 15% !important;
        padding: 16px !important;
        width: 70% !important;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container-fluid{
        width: 450;
    }
    .social-icon {
        text-align: center;
    }
    .header-top-details {
        padding-top: 19px !important;
        padding-bottom: 19px !important;
        text-align:  center !important;
    }
    .header-top-icon-details::before {
        left: -9px !important;
    }
    .button a {
        padding: 18px 0px 18px 0px !important;
    }
    .logo {
        width: 100% !important;
        padding-top: 17px !important;
        text-align: center !important;
    }
    .menu ul li {
        display: inline-block !important;
        padding: 19px 0px 7px 21px !important;
    }
    .home-banner-content {
        left: 50% !important;
        text-align: left !important;
    }
    .home-banner-content h1 {
        padding: 0px !important;
        font-size: 43px !important;
        text-align: center !important;
    }
    .home-banner-content p {
        padding: 0 !important;
        font-size: 20px !important;
        text-align: center !important;
    }
    .about-area{
        text-align: center;
    }
    .button2 {
        display: block !important;
        text-align: center !important;
    }
    .button4 {
        margin-top: 30px !important;
        left: 50%;
        position: relative;
        transform: translate(-50%);
    }
    .testimonial-area{
        text-align: center !important;
    }
    .single-testimonial-left::after {
        left: 110px !important;
    }
    .single-testimonial-left img {
        width: 220px !important;
    }
    .single-testimonial-right-img1 img {
        margin-top: 85px !important;
    }
    .single-testimonial-right p {
        font-size: 17px !important;
    }
    .pd-left img {
        width: 145px !important;
        margin-left: 15px !important;
        position: relative !important;
        left: 50% !important;
        transform: translate(-50%) !important;
    }
    .specialist-header {
        text-align: center !important;
    }
    .specialist-header h2 {
        padding-right: 0px !important;
    }
    .single-project {
        text-align: center !important;
        margin-bottom: 30px !important;
    }
    .single-project-content p {
        font-size: 16px !important;
    }
    .single-project-content {
        left: 15% !important;
        padding: 16px !important;
        width: 70% !important;
    }
}
